HELP.md
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
out/
target/
*.log
logs/
hs_err_pid*

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


# Logs and temp files
*.tmp
*.swp
*.swo
*.bak
*.ser
src/test/
src/main/resources

# IDE Settings
*.sublime-workspace
.vscode/
*.code-workspace

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


data/
